---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas adipisci accusamus facilis perferendis animi qui eligendi sint corrupti molestias, possimus quo suscipit delectus quis. Aliquid quae doloribus dolores temporibus nulla consequuntur, molestias nemo hic accusantium provident sunt perspiciatis, esse in! Rem voluptatem autem nulla laboriosam rerum ut natus voluptatum deleniti, amet exercitationem ipsa unde maiores fugit ipsum odit! Adipisci sint esse saepe cum accusamus voluptatibus consequatur error tempore porro tempora rerum molestiae dignissimos perspiciatis eius cumque, odit mollitia laborum ab corporis. Dolor cum ipsam fugiat autem officiis. Aspernatur ducimus dolorem suscipit tempore nihil unde deleniti quo fugiat ipsam. Suscipit ea deleniti optio corporis ullam incidunt porro quod obcaecati in sequi aliquid earum, illum sapiente facere adipisci. Maiores eius explicabo, totam autem quis debitis provident dolores minima eos accusantium ducimus perspiciatis vero cupiditate vel numquam nesciunt culpa fugiat aspernatur. Vero, molestiae doloribus? Quod saepe doloribus ex incidunt! Modi possimus velit numquam excepturi ab quasi dolorem, quia fugit, accusantium non, molestias ad. Nemo sed aperiam minima, numquam odio, atque possimus repellendus eius pariatur vitae consectetur animi quos ullam sequi? Harum blanditiis velit est, at rerum totam aliquam suscipit officiis hic! Commodi neque ipsam eum sed? Ullam optio tenetur nobis cumque fugiat!</p>
</Layout>
