---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Support">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eveniet deleniti debitis vitae voluptatem, quia nostrum in incidunt fuga culpa, tenetur consequuntur iure tempora ipsum dolore dicta sint, esse molestias tempore. Minus at esse facere, praesentium quam vel officiis ad placeat quaerat obcaecati, expedita reprehenderit in sed enim eos quo blanditiis nulla ut hic! Odit dolorem possimus, quas beatae molestiae suscipit voluptatibus similique, iusto placeat culpa reprehenderit? Tenetur molestiae totam illum, cumque delectus sint. Odit assumenda totam praesentium, voluptatum perferendis, modi illo reprehenderit commodi placeat quibusdam natus qui esse? Eum consectetur aspernatur minima quaerat veniam fugit totam sequi modi culpa.</p>
</Layout>